@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'katex/dist/katex.min.css';

body {
  background-color: #FFFFF0; /* Nền Trắng ngà */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hiệu ứng Background Toán học */
@keyframes float-up {
  0% { transform: translateY(100vh) rotate(-5deg); opacity: 0; }
  10% { opacity: 0.15; }
  90% { opacity: 0.15; }
  100% { transform: translateY(-20vh) rotate(15deg); opacity: 0; }
}

.math-floater {
  position: absolute;
  animation: float-up linear infinite;
  color: #000080; /* Màu Xanh Navy */
  z-index: 0;
  pointer-events: none;
}